.contact {
    background-color: $green;
    color: $light-grey;
    padding: 5rem 18rem;
    &__heading {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        &-input {
            background-color: $green;
            color: $light-grey;
            font-family: "Alegreya Sans", sans-serif;
            font-size: 1.25rem;
            padding: 0.2rem 0;
            border: none;
            border-bottom: solid $light-grey 1px;
            width: 48%;
            outline: none;
        }
    }
}
::placeholder {
    color: $light-grey;
    opacity: 0.8;
}
